@font-face {
    font-family: "Yekan";
    src: url( "../fonts/W_YEKAN_0.TTF" );
    src: local( "?" ), url( "../fonts/W_YEKAN_0.TTF" )format( "truetype" );
}
*{
font-family:Yekan;
font-size:16px;
}
body {
	padding: 0;
	margin: 0;
	background: #FFF;
	font-family: 'Open Sans', sans-serif;
	direction:rtl;
}

body a {
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
	text-decoration: none;
}

body a:hover {
	text-decoration: none;
}

body a:focus, a:hover {
	text-decoration: none;
}

input[type="button"], input[type="submit"], .skills button.btn, .skills button.btn:hover {
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
	text-align: center;
}

p {
	margin: 0;
}

ul {
	margin: 0;
	padding: 0;
}

label {
	margin: 0;
}

img {
	width: 100%;
}

a:focus, a:hover {
	text-decoration: none;
	outline: none;
}

/*-- //Reset-Code --*/



/*-- Fonts --*/

@font-face{
	font-family: 'Petitinho';
	src:url("../fonts/Petitinho.ttf") format('truetype');
}

/*-- //Fonts --*/



/*-- Index-Page-Styling --*/



/*-- Slider --*/

.slider {
	position: relative;
	padding: 0;
	background-color: #000;
}

.rslides {
	position: relative;
	list-style: none;
	overflow: hidden;
	width: 100%;
	padding: 0;
	margin: 0;
}

.rslides li {
	-webkit-backface-visibility: hidden;
	position: absolute;
	display: none;
	width: 100%;
	right: 0;
	top: 0;
}

.rslides li:first-child {
	position: relative;
	display: block;
	float: right;
}

.rslides img {
	display: block;
	height: auto;
	float: right;
	width: 100%;
	border: 0;
}

a.callbacks_nav {
	display: none;
}

ul.callbacks_tabs {
	display: none;
}

/*-- //Slider --*/



/*-- Slider-Info --*/

.slider-info {
    position: absolute;
    z-index: 99999;
}

/*-- //Slider-Info --*/



/*-- Logo --*/

.logo {
	padding: 30px 30px 15px 0;
}

.logo a {
	font-family: Petitinho;
	font-size: 50px;
	color: #FFF;
	letter-spacing: 1px;
	line-height: 1;
}

/*-- //Logo --*/



/*-- Navigation-Menu-Effect --*/

@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot');
	src:url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('../fonts/icomoon.woff') format('woff'),
		url('../fonts/icomoon.ttf') format('truetype'),
		url('../fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

.dr-menu {
	width: 100%;
	max-width: 400px;
	min-width: 300px;
	position: relative;
	font-size: 16px;
	line-height: 2.5;
	font-weight: 400;
	color: #fff;
}

.dr-menu > div  {
	cursor: pointer;
	position: absolute;
	width: 100%;
	/*--w3layouts--*/
	/*--agileits--*/
	z-index: 100;
}

.dr-menu > div .dr-icon {
	top: 0;
	right: 30px;
	position: absolute;
	font-size: 150%;
	line-height: 1.6;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

.dr-menu.dr-menu-open > div .dr-icon {
	color: #FFF;
	right: 90%;
	-webkit-transform: translateX(-100%);
	-moz-transform: translateX(-100%);
	-ms-transform: translateX(-100%);
	/* transform: translateX(-100%); */
}

.dr-menu > div .dr-icon:after {
	content: "\e008";
	position: absolute;
	font-size: 50%;
	line-height: 3.25;
	right: -11px;
	opacity: 0;
}

.dr-menu.dr-menu-open > div .dr-icon:after {
	opacity: 1;
}

.dr-menu > div .dr-label {
	padding-right: 3em;
	position: relative;
	display: block;
	color: #FFF;
	font-size: 0.9em;
	font-weight: 700;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 2.75;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	/*--w3layouts--*/
	/*--agileits--*/
	transition: all 0.2s ease;
}

.dr-menu.dr-menu-open > div .dr-label {
	-webkit-transform: translateY(-90%);
	-moz-transform: translateY(-90%);
	-ms-transform: translateY(-90%);
	transform: translateY(-90%);
}

.dr-menu ul {
	padding: 0;
	margin: 0 0 0 5em;
	list-style: none;
	opacity: 0;
	position: relative;
	z-index: 0;
	pointer-events: none;
	-webkit-transition: opacity 0s linear 205ms;
	-moz-transition: opacity 0s linear 205ms;
	transition: opacity 0s linear 205ms;
}

.dr-menu.dr-menu-open ul {
	opacity: 1;
	z-index: 200;
	pointer-events: auto;
	-webkit-transition: opacity 0s linear 0s;
	-moz-transition: opacity 0s linear 0s;
	transition: opacity 0s linear 0s;
	background-color: rgba(0, 0, 0, 0.7);
	padding: 20px 0;
}

.dr-menu ul li {
	display: block;
	margin: 0 0 5px 0;
	opacity: 0;
	-webkit-transition: opacity 0.3s ease;
	-moz-transition: opacity 0.3s ease;
	transition: opacity 0.3s ease;
}

.dr-menu.dr-menu-open ul li {
	opacity: 1;
}

.dr-menu.dr-menu-open ul li:nth-child(2) {
	/*--w3layouts--*/
	/*--agileits--*/
	-webkit-transition-delay: 35ms;
	-moz-transition-delay: 35ms;
	transition-delay: 35ms;
}

.dr-menu.dr-menu-open ul li:nth-child(3) {
	-webkit-transition-delay: 70ms;
	-moz-transition-delay: 70ms;
	transition-delay: 70ms;
}

.dr-menu.dr-menu-open ul li:nth-child(4) {
	-webkit-transition-delay: 105ms;
	-moz-transition-delay: 105ms;
	transition-delay: 105ms;
}

.dr-menu.dr-menu-open ul li:nth-child(5) {
	-webkit-transition-delay: 140ms;
	-moz-transition-delay: 140ms;
	transition-delay: 140ms;
}

.dr-menu.dr-menu-open ul li:nth-child(6) {
	-webkit-transition-delay: 175ms;
	-moz-transition-delay: 175ms;
	transition-delay: 175ms;
}

.dr-menu.dr-menu-open ul li:nth-child(7) {
	-webkit-transition-delay: 205ms;
	-moz-transition-delay: 205ms;
	transition-delay: 205ms;
}

.dr-menu ul li a {
	display: inline-block;
	padding: 0 30px;
	font-size: 16px;
	font-weight: 700;
	color: #fff;
}

.dr-menu ul li a:hover {
	color: #07AF8E;
}

.dr-icon:before, .dr-icon:after {
	/*--stuoyal3w--*/
	/*--stieliga--*/
	position: relative;
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	-webkit-font-smoothing: antialiased;
}

.dr-menu ul .dr-icon:before {
	margin-left: 15px;
}

.dr-icon-bullhorn:before {
	content: "\e000";
}

.dr-icon-camera:before {
	content: "\e002";
}

.dr-icon-heart:before {
	content: "\e003";
}

.dr-icon-settings:before {
	content: "\e004";
}

.dr-icon-switch:before {
	content: "\e005";
}

.dr-icon-download:before {
	content: "\e006";
}

.dr-icon-user:before {
	content: "\e001";
}

.dr-icon-menu:before {
	content: "\e007";
}

/*-- //Navigation-Menu-Effect --*/



/*-- Paddings-&-Margins --*/

.about, .services, .team, .pricing, .projects, .testimonial {
	padding: 100px 0;
}

/*-- //Paddings-&-Margins --*/



/*-- Headings --*/

.about h1, .services h3, .team h3, .pricing h3, .projects h3, .testimonial h3 {
	font-size: 36px;
	margin-bottom: 15px;
	color: #07AF8E;
}

/*-- Heading-Underline --*/

.heading-underline {
	width: 25%;
	margin: 0 auto 75px;
}

.h-u1, .h-u3 {
	width: 30%;
	float: right;
	height: 2px;
	background-color: #EEE;
	margin-top: 1px;
}

.h-u2 {
	width: 40%;
	float: right;
	height: 4px;
	background-color: #07AF8E;
}

/*-- //Heading-Underline --*/

/*-- Headings --*/



/*-- About --*/

.about-info p {
	line-height: 30px;
	text-align: center;
	margin-top: 20px;
	color: #777;
}

/*-- Skills --*/

.skills {
	padding-right: 50px;
}

.skills h2 {
	text-align: right;
	color: #07AF8E;
	margin-bottom: 30px;
}

.skills .heading-underline {
    display: none;
}

	/*-- Progress-Bar --*/

	#about-us .lead {
		font-size: 16px;
		font-weight: 600;
		margin-bottom: 10px;
		text-align: right;
		color: #777;
	}

	.progress{
		height: 20px;
		background-color: #EEE;
		border-radius: 50px;
		box-shadow: none;
		-webkit-box-shadow: none;
		margin-bottom: 30px;
	}

	.progress-bar{
		box-shadow: none;
		-webkit-box-shadow: none;
		text-align: left;
		padding-left: 12px;
		background-color: #1abc9c;
		font-size: 12px;
		color: #FFF;
		border-radius: 50px;
	}

	.progress .progress-bar.six-sec-ease-in-out {
		-webkit-transition: width 2s ease-in-out;
		transition: width 2s ease-in-out;
	}

	/*-- //Progress-Bar --*/

.skills button.btn {
	margin-top: 10px;
	padding: 10px 30px;
	background-color: transparent;
	color: #1ABC9C;
	font-size: 15px;
	font-weight: 600;
	border: 3px solid #1ABC9C;
	border-radius: 40px;
	outline: none;
}

.btn:focus, .btn:active:focus, .btn.active:focus {
	outline: none;
	outline-offset: 0;
}

.skills span.glyphicon {
	margin-right: 10px;
}

.skills button.btn:hover {
	background-color: #1ABC9C;
	color: #FFF;
}

h4.modal-title {
	font-family: Petitinho;
	font-size: 30px;
	font-weight: 800;
	letter-spacing: 1px;
	color: #1ABC9C;
}

.modal-body p {
	margin-top: 20px;
	line-height: 30px;
}

/*-- //Skills --*/

/*-- //About --*/



/*-- Services --*/

.services {
	background: url("../images/services.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
}

.service-grid {
	text-align: center;
}

.service-grid img {
	width: 100px;
}

.service-grid h4 {
	font-size: 25px;
	font-weight: 600;
	color: #EEE;
	margin: 30px 0;
}

.service-grid p {
	color: #CCC;
	line-height: 30px;
}

/*-- //Services --*/



/*-- Pricing --*/

.pricing {
	background-color: #e7edf3;
}

.pricing .h-u1, .pricing .h-u3 {
	background-color: #CCC;
}

.pricing-grids {
	margin-top: 125px;
}

.grid1, .grid2, .grid3 {
	width: 25%;
	float: right;
	margin: 0 4.1% 0;
	background-color: #FFF;
	position: relative;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
}

.grid1:hover, .grid2:hover, .grid3:hover {
	transform: scale(1.05);
	-webkit-transform: scale(1.05);
	-moz-transform: scale(1.05);
	-o-transform: scale(1.05);
	-ms-transform: scale(1.05);
	z-index: 1;
	border: none;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
}

.grid1 span, .grid2 span, .grid3 span {
	position: absolute;
	top: -11%;
	left: 0%;
	color: #07af8e;
	font-size: 20px;
	font-weight: 900;
	padding: 10px 30px;
	background-color: #FFF;
}

.grid1 h4, .grid2 h4, .grid3 h4 {
	text-align: center;
	padding: 30px 0 10px;
	color: #777;
	background-color: #FFF;
	font-weight: 600;
	letter-spacing: -1px;
}

.grid1 ul.para li, .grid2 ul.para li, .grid3 ul.para li {
	display: block;
	padding: 20px 0px;
	margin: 0 40px;
	font-size: 15px;
	color: #777;
	border-bottom: 1px solid #777;
	text-align: center;
}

ul.para li:nth-child(4) {
	border-bottom: none;
	padding-bottom: 10px;
}

.grid1 .sign, .grid2 .sign, .grid3 .sign {
	padding:1.5em 0;
	text-align: center;
}

.grid1 .sign a, .grid2 .sign a, .grid3 .sign a {
	display: inline-block;
	padding: 10px 70px;
	font-size: 1.1em;
	font-weight: 900;
	color: #FFF;
	border-radius: 5px;
	text-decoration: none;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	background: #777;
}

.grid1 .sign a:hover, .grid3 .sign a:hover {
	background-color: #06876e;
}

.grid2 .sign a {
	background-color: #06876e;
}

.grid2 .sign a:hover {
	background-color: #015049;
}

#small-dialog h4 {
	margin: 10px 0;
}

#small-dialog {
	background: white;
	padding: 10px 0 10px 0;
	text-align: right;
	max-width: 629px;
	margin: 40px auto;
	position: relative;
	text-align: center;
	height: 485px;
}

.grid2, .grid2 span, .grid2 h4, .grid2 ul.para li {
	background-color: #07af8e;
	color: #FFF;
}

.grid2 ul.para li {
	border-bottom: 1px solid #EEE;
}

.grid2 ul.para li:nth-child(4) {
	border-bottom: none;
}

/*-- Popup-Box --*/

form li {
	list-style: none;
}

form ul {
	padding: 0;
}

h4.payment-head {
	font-size: 1.9em;
	color: #222222;
	padding: 0.5em 0;
	text-align: right;
	float: right;
}

.payment-online-form-right span {
	vertical-align: sub;
	margin-left: 30px;
}

.payment-online-form-right form {
	padding: 0 3%;
}

.payment-online-form-right input[type="text"] {
	padding: 1em 1em;
	color: #485460;
	width: 49%;
	margin: 0.5em 0;
	border: 1px solid;
	outline: none;
	transition: border-color 0.3s;
	-o-transition: border-color 0.3s;
	-ms-transition: border-color 0.3s;
	-moz-transition: border-color 0.3s;
	-webkit-transition: border-color 0.3s;
	float: right;
	font-size: 0.9em;
	border-color: #EEE;
	-webkit-appearance: none;
}

input#datepicker {
	padding: 1em 1em 1em 1em;
}

.payment-online-form-right input[type="text"]:hover {
	border-color: #fa6e6f;
}

.text-box-light {
	background: url("../images/calender.png") no-repeat 95% 50%;
	cursor: pointer;
	position: relative;
}

.payment-online-form-right ul li:first-child input[type="text"] {
	margin-left: 2%;
}

.payment-online-form-right input[type="text"]:active, .payment-online-form-right input[type="text"]:hover {
	border-color: #54CEB7;
	color: #3498DB; 
}

.shipping {
	width: 32px;
	height: 32px;
	display: inline-block;
	background: url("../images/icon.png") no-repeat -111px -26px;
}

.payment {
	width: 32px;
	height: 32px;
	display: inline-block;
	background: url("../images/icon.png") no-repeat -154px -23px;
}

.payment-date-section {
	background: url("../images/calender.png") no-repeat #fff 50%;
}

.payment-sendbtns {
	float: left;
	margin: 1.2em 0 1em;
}

.payment-sendbtns input[type="reset"] {
	background: #3498db;
	padding: 6px 50px;
	border: none;
	color: #FFF;
	cursor: pointer;
	font-size: 1.2em;
	display: block;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	outline: none;
}

.payment-sendbtns input[type="reset"]:hover {
	color: #FFF;
	background: #2980b9;
}

a.order {
	background: #1abc9c;
	padding: 6px 20px;
	border: none;
	color: #fff;
	cursor: pointer;
	font-size: 1.2em;
	display: block;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	-webkit-appearance: none;
	outline: none;
	text-decoration: none;
}

a.order:hover {
	color: #fff;
	background: #16a085;
}

.payment-sendbtns li {
	display: inline-block;
}

.payment-type li {
	display: inline-block;
}

.payment-online-form-left {
	background: #2B2937;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	border-bottom: 4px solid #1A1822;
}

input[type=checkbox].css-checkbox1, input[type=checkbox].css-checkbox2 {
	display: none;
}

input[type=checkbox].css-checkbox1 + label.css-label1 {
	height: 30px;
	width: 30px;
	display: inline-block;
	line-height: 18px;
	background-repeat: no-repeat;
	background-position: 0 0;
	vertical-align: super;
	cursor: pointer;
	background: url("../images/icon.png") no-repeat -188px -25px;
	margin-left: 8px;
}

input[type=checkbox].css-checkbox1:checked + label.css-label1 {
	background: url("../images/icon.png") no-repeat -215px -25px;
}

input[type=checkbox].css-checkbox2 + label.css-label2 {
	height: 30px;
	width: 30px;
	display: inline-block;
	line-height: 18px;
	background-repeat: no-repeat;
	background-position: -20px 0px;
	vertical-align: super;
	cursor: pointer;
	background: url("../images/icon.png") no-repeat -218px -24px;
}

input[type=checkbox].css-checkbox2:checked + label.css-label2 {
	background: url("../images/icon.png") no-repeat -190px -24px;
}

.visa {
	display: inline-block;
	width: 32px;
	height: 32px;
	background: url("../images/icon.png") no-repeat -32px -28px;
}

.paypal {
	display: inline-block;
	width: 32px;
	height: 32px;
	background: url("../images/icon.png") no-repeat -71px -26px;
}

.payment-online-form-left {
	float: left;
	width: 30%;
	background: #2B2937;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	border-bottom: 4px solid #1A1822;
	padding-bottom: 2em;
}

.payment-online-form-left a:hover {
	color: #1ABC9C;
}
.payment-online-form-left ul li {
	display: block;
	padding: 0.5em;
}
.payment-online-form-left ul li a {
	color: #9095AA;
}
.payment-online-form-left h4 {
	color: #FFF;
	font-size: 1em;
	text-transform: uppercase;
	border-bottom: 1px solid rgba(144, 149, 170, 0.22);
	padding: 0.8em;
}

.payment-online-form-left ul {
	padding: 0px 1em;
}

.payment-online-form-left h5 {
	color: #FFF;
	padding: 0.5em 0.8em 0.4em;
	font-size: 1em;
}

.payment-type {
	margin-top: 3%;
	text-align: right;
}

input[type=checkbox].css-checkbox3, input[type=checkbox].css-checkbox4, input[type=checkbox].css-checkbox5, input[type=checkbox].css-checkbox6 {
	display: none;
}

.my-mfp-zoom-in #small-dialog {
	opacity: 0;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
	-ms-transform: scale(0.8);
	-o-transform: scale(0.8);
	transform: scale(0.8);
}

.my-mfp-zoom-in.mfp-ready #small-dialog {
	opacity: 1;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
}

.my-mfp-zoom-in.mfp-removing #small-dialog {
	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
	-ms-transform: scale(0.8);
	-o-transform: scale(0.8);
	transform: scale(0.8);
	opacity: 0;
}

.my-mfp-zoom-in.mfp-bg {
	opacity: 0;
	-webkit-transition: opacity 0.3s ease-out;
	-moz-transition: opacity 0.3s ease-out;
	-o-transition: opacity 0.3s ease-out;
	transition: opacity 0.3s ease-out;
}

.my-mfp-zoom-in.mfp-ready.mfp-bg {
	opacity: 0.8;
}

.my-mfp-zoom-in.mfp-removing.mfp-bg {
	opacity: 0;
}

.mfp-bg {
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	z-index: 1042;
	overflow: hidden;
	position: fixed;
	background: #0b0b0b;
	opacity: 0.8;
	filter: alpha(opacity=80);
}

.mfp-wrap {
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	z-index: 1043;
	position: fixed;
	outline: none !important;
	-webkit-backface-visibility: hidden;
}

.mfp-container {
	text-align: center;
	position: absolute;
	width: 100%;
	height: 100%;
	right: 0;
	top: 0;
	padding: 0 8px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.mfp-container:before {
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}

.mfp-align-top .mfp-container:before {
	display: none;
}

.mfp-content {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	margin: 0 auto;
	text-align: right;
	z-index: 1045;
}

.mfp-inline-holder .mfp-content, .mfp-ajax-holder .mfp-content {
	width: 100%;
	cursor: auto;
}

.mfp-ajax-cur {
	cursor: progress;
}

.mfp-zoom-out-cur, .mfp-zoom-out-cur .mfp-image-holder .mfp-close {
	cursor: -moz-zoom-out;
	cursor: -webkit-zoom-out;
	cursor: zoom-out;
}

.mfp-zoom {
	cursor: pointer;
	cursor: -webkit-zoom-in;
	cursor: -moz-zoom-in;
	cursor: zoom-in;
}

.mfp-auto-cursor .mfp-content {
	cursor: auto;
}

.mfp-close, .mfp-arrow, .mfp-preloader, .mfp-counter {
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

.mfp-loading.mfp-figure {
	display: none;
}

.mfp-hide {
	display: none !important;
}

.mfp-content iframe{
	width: 100%;
	min-height: 500px;
}

.mfp-preloader {
	color: #cccccc;
	position: absolute;
	top: 50%;
	width: auto;
	text-align: center;
	margin-top: -0.8em;
	right: 8px;
	left: 8px;
	z-index: 1044;
}

.mfp-preloader a {
	color: #cccccc;
}

.mfp-preloader a:hover {
	color: white;
}

.mfp-s-ready .mfp-preloader {
	display: none;
}

.mfp-s-error .mfp-content {
	display: none;
}

button.mfp-close, button.mfp-arrow {
	overflow: visible;
	cursor: pointer;
	border: 0;
	background:#EEEEEE;
	-webkit-appearance: none;
	display: block;
	padding: 0;
	z-index: 1046;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

.mfp-close {
	width: 32px;
	height: 32px;
	line-height: 13px;
	position: absolute;
	left: 0;
	top: -32px;
	text-decoration: none;
	text-align: center;
	padding: 0 0 18px 10px;
	color: white;
	font-style: normal;
	font-size: 28px;
	outline: none;
}

.mfp-close:hover, .mfp-close:focus {
	opacity: 1;
}

.mfp-close-btn-in .mfp-close {
	color: #333333;
	padding: 0 0 7px 0px;
}

.mfp-image-holder .mfp-close, .mfp-iframe-holder .mfp-close {
	color: white;
	left: -6px;
	text-align: left;
	padding-left: 6px;
	width: 100%;
}

/*-- //Pricing --*/



/*-- Team --*/

.team {
	background: url("../images/team.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	color: #EEE;
	height: 700px;
}

.team .heading-underline {
	margin-bottom: 40px;
}

p.team-p {
	line-height: 30px;
	text-align: center;
}

.team-grids {
	margin: 75px 0 0;
}

.ch-grid {
	padding: 0;
	list-style: none;
	display: block;
	text-align: center;
	width: 100%;
}

.ch-grid:after, .ch-item:before {
	content: '';
	display: table;
}

.ch-grid:after {
	clear: both;
}

.ch-grid {
	display: inline-block;
}

.ch-item {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	position: relative;
	box-shadow: 0 1px 2px rgba(0,0,0,0.1);
	cursor: default;
}

.ch-info-wrap, .ch-info{
	position: absolute;
	width: 180px;
	height: 180px;
	border-radius: 50%;
}

.ch-info-wrap {
	top: 20px;
	right: 20px;
	box-shadow: 0 0 0 20px rgba(255,255,255,0.2), inset 0 0 3px rgba(115,114, 23, 0.8);

}

.ch-info > div {
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background-position: center center;
	-webkit-backface-visibility: hidden;
}

.ch-info .ch-info-front {
	-webkit-transition: all 0.6s ease-in-out;
	-moz-transition: all 0.6s ease-in-out;
	-o-transition: all 0.6s ease-in-out;
	-ms-transition: all 0.6s ease-in-out;
	transition: all 0.6s ease-in-out;
}

.ch-info .ch-info-back {
	opacity: 0;
	background: rgba(0, 0, 0, 0.5);
	pointer-events: none;
	-webkit-transform: scale(1.5);
	-moz-transform: scale(1.5);
	-o-transform: scale(1.5);
	-ms-transform: scale(1.5);
	transform: scale(1.5);
	-webkit-transition: all 0.4s ease-in-out 0.2s;
	-moz-transition: all 0.4s ease-in-out 0.2s;
	-o-transition: all 0.4s ease-in-out 0.2s;
	-ms-transition: all 0.4s ease-in-out 0.2s;
	transition: all 0.4s ease-in-out 0.2s;
}

.ch-img-1 {
	background-image: url("../images/team-1.png");
}

.ch-img-2 {
	background-image: url("../images/team-2.png");
}

.ch-img-3 {
	background-image: url("../images/team-3.png");
}

.ch-img-4 {
	background-image: url("../images/team-4.png");
}

.ch-info h4 {
	color: #fff;
	font-size: 16px;
	margin-top: 70px;
}

.ch-info-wrap .ch-info p {
	color: #fff;
	font-size: 14px;
	margin-top: 10px;
	padding-top: 10px;
	border-top: 1px solid rgba(255,255,255,0.5);
}

.ch-item:hover .ch-info-front {
	-webkit-transform: scale(0);
	-moz-transform: scale(0);
	-o-transform: scale(0);
	-ms-transform: scale(0);
	transform: scale(0);
	opacity: 0;
}

.ch-item:hover .ch-info-back {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-o-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	opacity: 1;
	pointer-events: auto;
}

/*-- //Team --*/



/*-- Projects --*/

.projects {
	background-color: #f5f5f5;
}

.gallery-item {
	padding: 0;
}

.grid figure {
	position: relative;
	float: right;
	overflow: hidden;
	height: auto;
	background: #3085a3;
	text-align: center;
}

.grid figure img {
	position: relative;
	display: block;
	max-width: 100%;
	opacity: 0.8;
}

.grid figure figcaption {
	padding: 7em;
	color: #fff;
	text-transform: uppercase;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.grid figure figcaption::before, .grid figure figcaption::after {
	pointer-events: none;
}

.grid figure figcaption, .grid figure figcaption > a {
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
}

figure.effect-apollo {
	background: #000;
}

figure.effect-apollo img {
	opacity: 0.95;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale3d(1.05,1.05,1);
	transform: scale3d(1.05,1.05,1);
}

figure.effect-apollo figcaption::before {
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.71);
	content: '';
	-webkit-transition: -webkit-transform 0.6s;
	transition: transform 0.6s;
	-webkit-transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,-100%,0);
	transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,-100%,0);
}

figure.effect-apollo:hover img {
	opacity: 0.6;
	-webkit-transform: scale3d(1,1,1);
	transform: scale3d(1,1,1);
}

figure.effect-apollo:hover figcaption::before {
	-webkit-transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,100%,0);
	transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,100%,0);
}

/*-- //Projects --*/



/*-- Testimonial --*/

.slider2 {
	padding: 0 200px;
}

.slider2 p {
	font-size: 16px;
	text-align: center;
	line-height: 30px;
	font-weight: 100;
	color: #000;
}

.slider2 h4 {
	font-size: 20px;
	float: left;
	margin-top: 20px;
	font-weight: 600;
	color: #000;
}

/*-- Testimonial --*/



/*-- Newsletter --*/

.newsletter {
	padding: 50px 0;
	background-color: #000;
	color: #FFF;
}

.news-grids {
	padding: 0 150px;
	margin: 0 auto;
}

.subscribe {
	text-align: left;
	padding-top: 8px;
}

.subscribe p {
	font-size: 25px;
	font-weight: 600;
	color: #25b89b;
}

.email-form {
	text-align: right;
}

.email-form input.email {
	padding: 15px 10px;
	width: 70%;
	background-color: #333;
	border: none;
	outline: none;
	border-radius: 3px;
	font-weight: 600;
}

.email-form input.submit {
	padding: 15px 35px 14px;
	border: none;
	outline: none;
	border-radius: 3px;
	background-color: #25b89b;
	font-weight: 700;
	margin-right: 5px;
}

.email-form input.submit:hover {
	background-color: #06876e;
}

/*-- //Newsletter --*/



/*-- Follow --*/

.follow {
	background: url("../images/follow.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	padding: 100px 0;
}

.slider3 {
	padding: 0 150px;
	text-align: center;
}

.slider3 img {
	width: 100px;
	margin-right: 44.5%;
}

.slider3 p {
	margin: 150px 0 40px;
	color: #FFF;
	font-size: 16px;
	line-height: 30px;
}

.slider3 a {
	color: #FFF;
	font-size: 15px;
	font-weight: 600;
}

.slider3 a.callbacks_nav {
	display: block;
}

.slider3 .callbacks_nav {
	position: relative;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	top: 50%;
	right: 0;
	opacity: 0.7;
	z-index: 3;
	text-indent: -9999px;
	text-decoration: none;
	height: 61px;
	width: 38px;
	background: transparent url("../images/themes.gif") no-repeat right top;
	margin-top: -45px;
}

.slider3 .callbacks_nav.next {
	right: auto;
	background-position: left top;
	left: 0;
}

.slider3 ul.callbacks_tabs.callbacks1_tabs {
	display: none;
}

.slider3 .callbacks_nav {
	right: -40%;
	top: -110px;
}

.slider3 .callbacks_nav.next {
	left: -135%;
	top: -126px;
}

/*-- //Follow --*/



/*-- Social --*/

.social {
	padding: 50px 0;
	background-color: #111314;
	text-align: center;
}

.social p {
	font-size: 25px;
	color: #FFF;
	margin-bottom: 20px;
}

ul.social-icons li {
	display: inline-block;
}

ul.social-icons li a {
	display: inline-block;
	width: 50px;
	height: 50px;
	background: url("../images/img-sprite.png") no-repeat 0px 0px;
	opacity: 0.7;
}

ul.social-icons li a.facebook {
	background-position: 0px -50px;
}

ul.social-icons li a.twitter {
	background-position: -50px -50px;
}

ul.social-icons li a.googleplus {
	background-position: -100px -50px;
}

ul.social-icons li a.instagram {
	background-position: -150px -50px;
}

ul.social-icons li a.youtube {
	background-position: -200px -50px;
}

ul.social-icons li a:hover {
	opacity: 1;
}

/*-- //Social --*/



/*-- Copyleft --*/

.copyleft {
	padding: 50px 0;
	background-color: #000;
	text-align: center;
}

.copyleft p {
	font-size: 15px;
	font-weight: 600;
	color: #FFF;
}

/*-- //Copyleft --*/



/*-- Go-To-Top-Button --*/
#toTop {
	z-index: 99999;
	display: none;
	text-decoration: none;
	position: fixed;
	bottom: 10px;
	left: 15px;
	overflow: hidden;
	width: 40px;
	height: 40px;
	border: none;
	text-indent: 100%;
	background: url("../images/to-top.png") no-repeat 0px 0px;
}
/*-- //Go-To-Top-Button --*/



/*-- //Index-Page-Styling --*/










/*-- Responsive-Code --*/



@media screen and (max-width:1440px) {
	.slider3 .callbacks_nav.next {
		left: -125%;
	}
	.slider3 .callbacks_nav {
		right: -30%;
	}
}

@media screen and (max-width:1366px) {
	.slider3 .callbacks_nav.next {
		left: -123.5%;
	}
	.slider3 .callbacks_nav {
		right: -28%;
	}
}

@media screen and (max-width:1280px) {
	.slider3 .callbacks_nav.next {
		left: -117.5%;
	}
	.slider3 .callbacks_nav {
		right: -22%;
	}
}

@media screen and (max-width:1024px) {
	.about, .services, .team, .pricing, .projects, .testimonial, .follow {
		padding: 75px 0;
	}
	.progress {
		margin-bottom: 25px;
	}
	.grid1, .grid2, .grid3 {
		width: 27.3%;
		margin: 0 3% 0;
	}
	.ch-item {
		margin-right: -5%;
	}
	.slider2 {
		padding: 0 175px;
	}
}

@media screen and (max-width:991px) {
	.logo a {
		font-size: 40px;
	}
	.container {
		width: 100%;
	}
	.modal-dialog {
		width: 95%;
		margin: 30px auto;
	}
}

@media screen and (max-width:900px) {
	.grid1, .grid2, .grid3 {
		width: 29.3%;
		margin: 0 2% 0;
	}
	.ch-info-wrap {
		width: 170px;
		height: 170px;
		right: 15px;
	}
	.ch-info {
		width: 170px;
		height: 170px;
	}
	.gallery-item {
		width: 25%;
		float: right;
	}
	.slider2 {
		padding: 0 125px;
	}
	.subscribe {
		text-align: right;
	}
}

@media screen and (max-width:853px) {
	.ch-info-wrap {
		right: 10px;
		box-shadow: 0 0 0 15px rgba(255,255,255,0.2), inset 0 0 3px rgba(115,114, 23, 0.8);
	}
	.slider2 {
		padding: 0 100px;
	}
	.email-form input.email {
		width: 68%;
	}
	.skills button.btn {
		margin-top: 0;
	}
	#small-dialog {
		height: 480px;
	}
}

@media screen and (max-width:800px) {
	.about-details {
		width: 100%;
		padding: 0;
	}
	.about-image, .about-info {
		width: 50%;
		float: right;
	}
	.about-info p {
		line-height: 25px;
		margin-top: 0;
	}
	.skills {
		margin-top: 50px;
		padding: 0 75px;
		width: 100%;
		float: right;
	}
	.skills h2 {
		text-align: center;
		font-size: 36px;
		margin-bottom: 15px;
	}
	.skills .heading-underline {
		display: block;
	}
	.grid1, .grid2, .grid3 {
		width: 31.3%;
		margin: 0 1% 0;
	}
	.ch-item {
		margin-right: -10%;
	}
	.slider2 {
		padding: 0 75px;
	}
	.slider2 p {
		font-size: 15px;
	}
	.slider2 h4 {
		margin-top: 5px;
	}
	.email-form input.email {
		width: 66%;
	}
	.slider3 {
		padding: 0 125px;
	}
	.slider3 p {
		margin: 125px 0 25px;
		color: #FFF;
		font-size: 15px;
	}
	.slider3 .callbacks_nav {
		right: -25%;
	}
	.slider3 img {
		margin-right: 40%;
	}
}

@media screen and (max-width:768px) {
	.modal-body p {
		line-height: 25px;
	}
	.grid1 ul.para li, .grid2 ul.para li, .grid3 ul.para li {
		margin: 0 20px;
	}
	.grid1 h4, .grid2 h4, .grid3 h4 {
		font-size: 25px;
		font-weight: 700;
	}
	.team {
		height: 900px;
	}
	.team-grids {
		margin-top: 50px;
	}
	.team-grid {
		width: 50%;
		float: right;
		padding-right: 110px;
	}
	.team-grid3, .team-grid4 {
		margin-top: 235px;
	}
	.subscribe, .email-form {
		width: 50%;
		float: right;
		padding: 0;
	}
	.subscribe p {
		padding-top: 5px;
	}
}

@media screen and (max-width:767px) {
	.dr-menu.dr-menu-open ul {
		padding: 16px 0;
	}
	.about, .services, .team, .pricing, .projects, .testimonial, .follow, .social, .copyleft {
		padding: 50px 0;
	}
	.heading-underline {
		margin: 0 auto 40px;
	}
	p {
		font-size: 13px;
	}
	.about-info p {
		line-height: 28px;
	}
	.skills h2 {
		margin-bottom: 20px;
	}
	#about-us .lead {
		font-size: 14px;
		margin-bottom: 5px;
	}
	.progress {
		margin-bottom: 15px;
	}
	.skills button.btn {
		padding: 5px 20px;
		margin-top: 10px;
	}
	.service-grid {
		width: 33.3%;
		float: right;
		padding: 0 10px;
	}
	.service-grid img {
		width: 75px;
	}
	.service-grid h4 {
		font-size: 22px;
		font-weight: 600;
		color: #EEE;
		margin: 20px 0;
	}
	.service-grid p {
		line-height: 25px;
	}
	.pricing-grids {
		margin-top: 100px;
	}
	.grid1 ul.para li, .grid2 ul.para li, .grid3 ul.para li {
		font-size: 14px;
	}
	.team {
		height: 800px;
	}
	.team-grids {
		margin-top: 40px;
	}
	.slider3 img {
		margin-right: 45%;
		width: 75px;
	}
	.email-form input.email {
		width: 71%;
	}
	.email-form input.submit {
		padding: 15px 30px 14px;
		margin-right: 0;
	}
}

@media screen and (max-width:736px) {
	.logo a {
		font-size: 35px;
	}
	.about-info p {
		line-height: 25px;
		text-align: right;
	}
	.email-form input.email {
		width: 70%;
	}
	.slider3 img {
		margin-right: 41%;
	}
	.team-grid {
		padding-right: 110px;
	}
	.copyleft p {
		line-height: 28px;
		font-size: 14px;
	}
}

@media screen and (max-width:667px) {
	.mfp-close {
		left: -15px;
	}
	.team {
		height: 825px;
	}
	.team-grid {
		padding-right: 80px;
	}
	.slider2 {
		padding: 0 35px;
	}
	.slider3 {
		padding: 0 100px;
	}
	.slider3 .callbacks_nav {
		right: -27%;
	}
	.subscribe p {
		padding-top: 10px;
		font-size: 20px;
	}
	.email-form input.email {
		width: 67%;
	}
}

@media screen and (max-width:640px) {
	.service-grid {
		padding: 0 5px;
	}
	.grid1 h4, .grid2 h4, .grid3 h4 {
		font-size: 22px;
		font-weight: 600;
	}
	.skills {
		padding: 0 50px;
	}
	.team-grid {
		padding-right: 75px;
	}
	.email-form input.email {
		width: 65%;
	}
}

@media screen and (max-width:603px) {
	.grid1, .grid2, .grid3 {
		width: 32.3%;
		margin: 0 0.5% 0;
	}
	.grid1 ul.para li, .grid2 ul.para li, .grid3 ul.para li {
		font-size: 13px;
		padding: 15px 0;
	}
	.team {
		height: 850px;
	}
	.team-grid {
		padding-right: 60px;
	}
	.slider2 {
		padding: 0 20px;
	}
	.slider2 p {
		font-size: 14px;
	}
	.subscribe, .email-form {
		width: 100%;
		padding: 0;
		text-align: center;
	}
	.subscribe p {
		padding-top: 0;
		font-size: 25px;
		margin-bottom: 25px;
	}
	.slider3 {
		padding: 0 50px;
	}
	.slider3 .callbacks_nav {
		right: -15%;
	}
	.slider3 .callbacks_nav.next {
		left: -105.5%;
	}
}

@media screen and (max-width:568px) {
	.logo {
		padding: 20px 0 15px 20px;
	}
	.logo a {
		font-size: 30px;
	}
	.dr-menu > div .dr-icon {
		right: 20px;
	}
	.about-image, .about-info {
		width: 90%;
		margin-right: 5%;
	}
	.about-info p {
		margin-top: 20px;
		line-height: 25px;
		text-align: center;
	}
	.skills {
		padding: 0 15px;
	}
	.service-grid {
		width: 100%;
		padding: 10px 50px;
	}
	.pricing-grids {
		margin-top: 75px;
	}
	.grid1, .grid2, .grid3 {
		width: 65%;
		margin-right: 17.5%;
	}
	.grid1 h4, .grid2 h4, .grid3 h4 {
		font-size: 25px;
		font-weight: 600;
	}
	.grid1 ul.para li, .grid2 ul.para li, .grid3 ul.para li {
		font-size: 15px;
		padding: 15px 0;
	}
	.grid1 .sign, .grid2 .sign, .grid3 .sign {
		padding: 0.5em 0 1.5em;
	}
	.grid1, .grid2 {
		margin-bottom: 65px;
	}
	.team-grid {
		padding-right: 55px;
	}
	.slider2 {
		padding: 0;
	}
	.follow {
		padding-bottom: 20px;
	}
	.slider3 {
		padding: 0 25px;
	}
	.slider3 .callbacks_nav {
		right: -8%;
	}
	.slider3 .callbacks_nav.next {
		left: -100.5%;
	}
	.social {
		padding: 30px 0;
	}
	.copyleft {
		padding: 30px;
	}
}

@media screen and (max-width:533px) {
	.team-grid {
		padding-right: 45px;
	}
	.slider2 p {
		font-size: 13px;
		font-weight: 500;
		line-height: 27px;
	}
	.slider2 h4 {
		margin-top: 10px;
	}
}

@media screen and (max-width:480px) {
	.about h1, .skills h2, .services h3, .team h3, .pricing h3, .projects h3, .testimonial h3 {
		font-size: 30px;
	}
	.heading-underline {
		margin: 0 auto 30px;
		width: 30%;
	}
	.about-image, .about-info {
		width: 95%;
		margin-right: 2.5%;
	}
	.team {
		height: 1355px;
	}
	.team-grid {
		padding-right: 35%;
		width: 100%;
	}
	.team-grid1 {
		margin-bottom: 235px;
	}
	.gallery-item {
		width: 50%;
	}
	.slider3 img {
		width: 65px;
	}
	.slider3 p {
		margin: 90px 0 15px;
	}
}

@media screen and (max-width:414px) {
	.service-grid {
		padding: 10px 30px;
	}
	.service-grid img {
		width: 60px;
	}
	.service-grid h4 {
		margin: 10px 0;
		font-size: 20px;
	}
	.grid1, .grid2, .grid3 {
		width: 75%;
		margin-right: 12.5%;
	}
	.team {
		height: 1345px;
	}
	p.team-p {
		line-height: 25px;
	}
	.team-grid {
		padding-right: 30%;
	}
	.slider3 p {
		margin: 90px 0 15px;
		font-size: 14px;
		line-height: 27px;
	}
	.slider3 .callbacks_nav {
		right: -12%;
	}
	.modal-body p {
		line-height: 22px;
	}
}

@media screen and (max-width:384px) {
	.about, .services, .team, .pricing, .projects, .testimonial, .follow {
		padding: 30px 0;
	}
	.skills {
		padding: 0;
		margin-top: 30px;
	}
	.service-grid {
		padding: 10px 20px;
	}
	.service-grid-2 {
		padding: 20px;
	}
	.grid1, .grid2, .grid3 {
		width: 80%;
		margin-right: 10%;
	}
	.team-grid {
		padding-right: 28%;
	}
	.slider3 .callbacks_nav {
		right: -14%;
	}
	#small-dialog {
		height: 700px;
	}
	.payment-online-form-right input[type="text"] {
		width: 100%!important;
	}
	.payment-sendbtns input[type="reset"] {
		padding: 6px 45px;
	}
}

@media screen and (max-width:360px) {
	.about h1, .skills h2, .services h3, .team h3, .pricing h3, .projects h3, .testimonial h3 {
		font-size: 29px;
	}
	.service-grid {
		padding: 10px 0;
	}
	.team {
		height: 1370px;
	}
	.team-grid {
		padding-right: 27%;
	}
	.subscribe p {
		font-size: 23px;
	}
	.slider3 img {
		margin-right: 37%;
	}
	.copyleft p {
		line-height: 25px;
		font-size: 12px;
	}
	.payment-sendbtns input[type="reset"] {
		padding: 6px 40px;
	}
}

@media screen and (max-width:320px) {
	.logo {
		padding: 20px 0 5px 20px;
	}
	.logo a {
		font-size: 25px;
	}
	.about h1, .skills h2, .services h3, .team h3, .pricing h3, .projects h3, .testimonial h3 {
		font-size: 25px;
	}
	.grid1, .grid2, .grid3 {
		width: 100%;
		margin-right: 0;
	}
	.grid1 h4, .grid2 h4, .grid3 h4 {
		font-size: 20px;
	}
	.team {
		height: 1390px;
	}
	.team-grid {
		padding-right: 22%;
	}
	.subscribe p {
		font-size: 20px;
	}
	.email-form input.email {
		width: 63%;
	}
	.slider3 .callbacks_nav {
		right: -20%;
	}
	.payment-sendbtns input[type="reset"] {
		padding: 6px 23px;
	}
}



/*-- //Responsive-Code --*/
